@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --text-gradient: background: linear-gradient(122deg, rgba(73,219,198,1) 0%, rgba(111,45,213,1) 35%, rgba(227,0,255,1) 100%);
}

body,
html, 
#root,
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #010126;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}